@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --primary-color: #0056D7;
    --primary-color-light: #0067FF;
    --primary-color-dark: #003CAB;

    --link-color: #0066FF;

    --secondary-color: #F4F9FF;

    --input-dark-color: #F8F8F8;
    --input-border-color: #D8D8D8;

    --font-color: #333333;
    --font-color-light: #757575;
    /* --font-color-light: #929292; */
    --secondary-font-color: #FFFFFF;

    --main-font: 'Mulish', sans-serif;
    --font-size: 12px;
    --font-weight: 400;
    --bigger-font-size: 14px;
    --bold-font-weight: 600;
    --title-font-size: 22px;
    --title-font-weight: 700;
}
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--font-color);
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-color-light);
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover, .btn:focus, .btn:active {
    background-color: var(--primary-color-dark);
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.bold {
    font-weight: var(--bold-font-weight);
}

.light-text {
    color: var(--font-color-light);
}

.title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}

a {
    color: var(--primary-color-light);
    font-weight: var(--bold-font-weight);
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}


/* Styles for the illustration section */
.illustration-section {
    width: 35%;
    background-color: var(--secondary-color);
    position: relative;
}

.illustration-section .illustration-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.illustration-section .illustration-holder img {
    width: 100%;
}



/* Styles for the login section */
.login-section {
    width: 65%;
    position: relative;
}

.register-holder {
    margin-top: 2rem;
    margin-right: 20%;
    margin-left: auto;
    text-align: right;
}

.login-conent-holder {
    margin: auto;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-conent-holder h5 {
    margin: 0;
    font-size: var(--bigger-font-size);
    font-weight: var(--font-weight);
}
.login-conent-holder .title {
    margin-bottom: 1rem;
    margin-top: .5rem;
}


/* Styles for form */
input, select, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    outline: none;
    transition: 0.3s ease;
    display: block;
    width: 100%;
    background-color: var(--input-dark-color);
}

input:focus, select:focus, textarea:focus {
    border-color: var(--primary-color);
}

.login-conent-holder .input-group {
    margin-top: 1.5rem;
}

.login-conent-holder label {
    display: block;
    margin-bottom: .5rem;
    font-size: var(--font-size);
    font-weight: var(--bold-font-weight);
}

.passowrd-holder {
    position: relative;
}

.show-password {
    cursor: pointer;
    color: var(--font-color-light);
    fill: var(--font-color-light);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.login-btn {
    display: block;
    width: 100%;
}



/* Styles for seperator */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--font-color-light);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.separator .line {
    flex-grow: 1;
    height: 1px;
    background-color: #F0F0F0;
}

.separator .text {
    padding: 0 20px;
}


/* Styles for social login */
.social-login-holder p {
    display: block;
    margin-bottom: .7rem;
    font-size: var(--font-size);
    font-weight: var(--bold-font-weight);
}
.social-login {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.social-btn {
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.social-btn:focus, .social-btn:active, .social-btn:hover {
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}
.social-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Styles for tablet */
@media (max-width: 992px) {
    .illustration-section {
        width: 40%;
    }
    .login-section {
        width: 60%;
    }
    .login-conent-holder {
        width: 70%;
    }
}

/* Styles for mobile view */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .illustration-section {
        width: 100%;
    }

    .illustration-section .illustration-holder {
        width: 60%;
        position: static;
        transform: none;
        text-align: center;
        margin: auto;
    }

    .illustration-section .illustration-holder img {
        width: 100%;
    }

    .login-section {
        width: 100%;
    }

    .login-conent-holder {
        width: 80%;
        margin: auto;
        position: static;
        transform: none;
    }
    .register-holder {
        margin: 1rem auto 2rem;
        text-align: center;
    }
}

